#Fields
#    Minutes [0-59] | Hours [0-23] | Day-of-month [1-31] | Month [1-12 or JAN-DEC] | Day-of-week [1-7 or SUN-SAT] | Year [1970-2199]
#Wildcards
#    The , (comma) wildcard includes additional values. In the Month field, JAN,FEB,MAR would include January, February, and March.
#    The - (dash) wildcard specifies ranges. In the Day field, 1-15 would include days 1 through 15 of the specified month.
#    The * (asterisk) wildcard includes all values in the field. In the Hours field, * would include every hour. You cannot use * in both the Day-of-month and Day-of-week fields. If you use it in one, you must use ? in the other.
#    The / (forward slash) wildcard specifies increments. In the Minutes field, you could enter 1/10 to specify every tenth minute, starting from the first minute of the hour (for example, the 11th, 21st, and 31st minute, and so on).
#    The ? (question mark) wildcard specifies one or another. In the Day-of-month field you could enter 7 and if you didn't care what day of the week the 7th was, you could enter ? in the Day-of-week field.
#    The L wildcard in the Day-of-month or Day-of-week fields specifies the last day of the month or week.
#    The W wildcard in the Day-of-month field specifies a weekday. In the Day-of-month field, 3W specifies the weekday closest to the third day of the month.
#    The # wildcard in the Day-of-week field specifies a certain instance of the specified day of the week within a month. For example, 3#2 would be the second Tuesday of the month: the 3 refers to Tuesday because it is the third day of each week, and the 2 refers to the second day of that type within the month.
#Restrictions
#    You can't specify the Day-of-month and Day-of-week fields in the same cron expression. If you specify a value (or a *) in one of the fields, you must use a ? (question mark) in the other.
#    Cron expressions that lead to rates faster than 1 minute are not supported.
script_ec2.py~script_ec2_init.bash~(0 7 ? * MON-SUN *)
script_ec2.py~updated_image_creation.bash~rate(30 days)
